{%  extends 'Components/base.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="row vh-100">
            <nav id="sidebarMenu" class="col-md-3 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                              Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                              Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                              Orders
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>
            <main class="col-md-9">
                <h5>Order to deliver</h5>
                    <p>put everything here for now</p>
                <h5>Last ten orders</h5>
                        <p>put everything here for now</p>
            </main>
        </div>


    </div>


{% endblock %}