<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form in database</title>
</head>
<body>

<form method="post" >
          <div class="control-group form-group">
            <div class="controls">
              {{ registerForm.name.label  }}
                {{ registerForm.name(class='form-control')  }}
                {% for error in registerForm.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
               {{ registerForm.familyname.label  }}
                {{ registerForm.familyname(class='form-control')  }}
                {% for error in registerForm.familyname.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ registerForm.email.label  }}
                {{ registerForm.email(class='form-control') }}
                {% for error in registerForm.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
                 {{ registerForm.password.label }}
                {{ registerForm.password(class='form-control') }}
                {% for error in registerForm.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
        {{ registerForm.submit(class='btn btn-primary') }}
            {{ registerForm.hidden_tag() }}
        </form>

</body>
</html>